MicrosoftAppId= 
MicrosoftAppPassword=
MicrosoftAppType=
MultiTenant MicrosoftAppTenantId=
QnAKnowledgebaseId= 
QnAAuthKey= 
QnAEndpointHostName= 
LuisAppId=
LuisAPIKey= 
LuisAPIHostName= 
SchedulerEndpoint=
